*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffc0cb, #ffffff);
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.container h2 {
    display: flex;
    align-items: center;
}

button{
    border: 1px solid #ffffff;
    border-radius: 25px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding:10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
}
button:hover{
    background: pink;
    color: black;
}

.input{
    position: relative;
    width: 500px;
    min-height: 200px;
    background: #ffffff;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.input img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    width: 30px;
}